<title>Home | Able Pro Dashboard Template</title>
<!-- [Meta] -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Able Pro is trending dashboard template made using Bootstrap 5 design framework. Able Pro is available in Bootstrap, React, CodeIgniter, Angular,  and .net Technologies.">
<meta name="keywords" content="Bootstrap admin template, Dashboard UI Kit, Dashboard Template, Backend Panel, react dashboard, angular dashboard">
<meta name="author" content="Phoenixcoded">

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="../../public/css/valorant.css">
<!-- [Favicon] icon -->
<link rel="icon" href="../../public/images/favicon.svg" type="image/x-icon" />
<!-- [Font] Family -->
<link
  rel="stylesheet"
  href="../../public/fonts/inter/inter.css"
  id="main-font-link"
/>
<!-- [Tabler Icons] https://tablericons.com -->
<link rel="stylesheet" href="../../public/fonts/tabler-icons.min.css" />
<!-- [Feather Icons] https://feathericons.com -->
<link rel="stylesheet" href="../../public/fonts/feather.css" />
<!-- [Font Awesome Icons] https://fontawesome.com/icons -->
<link rel="stylesheet" href="../../public/fonts/fontawesome.css" />
<!-- [Material Icons] https://fonts.google.com/icons -->
<link rel="stylesheet" href="../../public/fonts/material.css" />
<!-- [Template CSS Files] -->
<link rel="stylesheet" href="../../public/css/style.css" id="main-style-link" />
<link rel="stylesheet" href="../../public/css/style-preset.css" />
<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-14K1GBX9FG"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-14K1GBX9FG");
</script>
<!-- WiserNotify -->
<script>
  !(function () {
    if (window.t4hto4)
      console.log("WiserNotify pixel installed multiple time in this page");
    else {
      window.t4hto4 = !0;
      var t = document,
        e = window,
        n = function () {
          var e = t.createElement("script");
          (e.type = "text/javascript"),
            (e.async = !0),
            (e.src = "https://pt.wisernotify.com/pixel.js?ti=1jclj6jkfc4hhry"),
            document.body.appendChild(e);
        };
      "complete" === t.readyState
        ? n()
        : window.attachEvent
        ? e.attachEvent("onload", n)
        : e.addEventListener("load", n, !1);
    }
  })();
</script>
<!-- Microsoft clarity -->
<script type="text/javascript">
  (function (c, l, a, r, i, t, y) {
    c[a] =
      c[a] ||
      function () {
        (c[a].q = c[a].q || []).push(arguments);
      };
    t = l.createElement(r);
    t.async = 1;
    t.src = "https://www.clarity.ms/tag/" + i;
    y = l.getElementsByTagName(r)[0];
    y.parentNode.insertBefore(t, y);
  })(window, document, "clarity", "script", "gkn6wuhrtb");
</script>

<!-- [Head] end -->
<!-- [Body] Start -->



<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-14K1GBX9FG");
</script>
<!-- WiserNotify -->
<script>
  !(function () {
    if (window.t4hto4)
      console.log("WiserNotify pixel installed multiple time in this page");
    else {
      window.t4hto4 = !0;
      var t = document,
        e = window,
        n = function () {
          var e = t.createElement("script");
          (e.type = "text/javascript"),
            (e.async = !0),
            (e.src = "https://pt.wisernotify.com/pixel.js?ti=1jclj6jkfc4hhry"),
            document.body.appendChild(e);
        };
      "complete" === t.readyState
        ? n()
        : window.attachEvent
        ? e.attachEvent("onload", n)
        : e.addEventListener("load", n, !1);
    }
  })();
</script>

<script src="../../public/js/component.js"></script>
<script src="../../public/js/layout-compact.js"></script>
<script src="../../public/js/layout-horizontal.js"></script>
<script src="../../public/js/layout-tab.js"></script>
<script src="../../public/js/pcoded.js"></script>
<script src="../../public/js/tech-stack.js"></script>


<script src="../../public/js/plugins/apexcharts.min.js"></script>
<!-- <script src="../../public/js/pages/dashboard-default.js"></script> -->
<!-- <script src="../../public/js/pages/dashboard-analytics.js"></script> -->
<!-- <script src="../../public/js/pages/chart-apex.js"></script> -->
<script src="../../public/js/pages/w-chart.js"></script>

<!-- [Page Specific JS] start -->
<!-- <script src="../../public/js/pages/dashboard-analytics.js"></script> -->
<!-- [Page Specific JS] end -->
<!-- Required Js -->
<script src="../../public/js/plugins/popper.min.js"></script>
<script src="../../public/js/plugins/simplebar.min.js"></script>
<script src="../../public/js/plugins/bootstrap.min.js"></script>
<script src="../../public/js/fonts/custom-font.js"></script>
<script src="../../public/js/pcoded.js"></script>
<script src="../../public/js/plugins/feather.min.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-14K1GBX9FG"></script>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="/public/js/sweetalert2.min.js"></script>

<script type="text/javascript" src="/public/js/jquery.min.js"></script>
<script type="text/javascript" src="/public/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="../../public/js/projeto.js"></script>