.jogadores-personagens{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.dropdown-menu {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Adiciona sombra para dar profundidade */
    border: none; /* Remove a borda padrão */
    border-radius: 8px; /* Bordas arredondadas */
  }
  
  /* Estilização da barra de pesquisa */
  #searchInput {
    width: 100%;
    padding: 12px 20px; /* Ajusta o espaçamento interno para ser mais generoso */
    border: 2px solid #007bff; /* Faz a borda mais destacada com cor azul */
    border-radius: 8px; /* Bordas fortemente arredondadas para suavidade */
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1); /* Sombra interna para profundidade */
    font-size: 16px; /* Aumenta o tamanho da fonte para melhorar a leitura */
  }
  
  /* Estilização das sugestões */
  #suggestionsList {
    margin: 0;
    padding: 0;
    border: 1px solid #007bff; /* Faz a borda mais destacada e consistente com a barra de busca */
    border-radius: 0 0 8px 8px; /* Arredondamento na parte inferior para continuidade do design */
    max-height: 200px;
    overflow-y: auto;
    background: #ffffff; /* Faz o fundo ser explicitamente branco para suporte em diferentes temas */
  }
  
  #suggestionsList div {
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    list-style-type: none;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s; /* Adiciona transição para o hover ser mais suave */
  }
  
  #suggestionsList div:last-child {
    border-bottom: none;
  }
  
  #suggestionsList div:hover {
    background-color: #007bff; /* Cor mais vibrante ao passar o mouse */
    color: #ffffff; /* Texto fica branco para contraste */
  }

.tirar-paddign {
  padding: 0;
}

.is-invalid {
  border-color: #dc3545 !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.circulo-higlight {
  background-color: rgba(255, 255, 255, 0.16); /* Fundo preto com 50% de opacidade */
  padding: 10px 10px; /* Espaçamento interno */
  border-radius: 5px; /* Bordas arredondadas */
  display: inline-block;
}

.map-container {
  position: relative;
  width: 600px; /* Ajuste conforme necessário */
  height: 70px; /* Ajuste conforme necessário */
  background-color: black;
}

.map-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.map-container::before { /* Adicionando um pseudo-elemento para o gradiente */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, var(--pc-sidebar-user-background) 90%);
}

.map-nome {
  position: absolute;
  top: 12px; /* Ajuste a posição vertical */
  left: 10%;
  transform: translateX(-50%);
  color: white;
  font-size: 24px; /* Ajuste o tamanho da fonte */
  font-weight: bold;
  padding: 8px 16px;
  text-shadow: 1px 1px 2px black;
}

.mapa-container {
  display: flex;
  align-items: center;
}

.mapa {
  margin-right: 5px; /* Espaço entre a imagem e o texto */
}

.mapa img {
  margin-right: 0px; /* Espaço entre a imagem e o texto */
  margin-bottom: 10px;
}

.direita-mapa {
  margin-left: auto;
  text-align: right;
}

.espaco-mapa {
  margin-right: 10px;
}

.mapa-negrito {
  font-weight: bold;
  font-size: 20px;
}

.mapa-primeiro {
  color: #C7B464;
}
